@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

html,body {
	height:100%;
	background-color: #FCF9EE;
	font-size: 17px;
	color: #787878;
}

strong {
	color: #555;
}

h3 {
	font-family: 'Montserrat', helvetica;
	font-weight: bold;
	font-size:36px;
	margin-top: 15px;
	text-shadow: black 2px 2px 1px;
}

hr {
	margin-top: 45px;
	margin-bottom: 45px;
	border-top: 2px dotted #ddd;
}

@media (max-width: 993px){
	h3{
		font-size: 28px;
		margin-top: 10px;
		margin-bottom: 8px;
	}

	hr {
	margin-top: 28px;
	margin-bottom: 28px;
	}
}

.lead {
	color:#DDCCEE;
}


.container-full {
	margin: 0 auto;
	width: 100%;
	min-height:100%;
	color:#eee;
	overflow:hidden;
}

.container-full a {
	color:#efefef;
	text-decoration:none;
}

.welcome-bg, .panel-default{
	-webkit-box-shadow: 0px 7px 15px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 7px 15px -2px rgba(0,0,0,0.75);
	box-shadow: 0px 7px 15px -2px rgba(0,0,0,0.75);
}

.welcome-bg {
	background-color:#be202e;
}

.welcome-logo {
	margin-left: auto;
	margin-right: auto;
	margin-top: 7%;
	margin-bottom: 10%;
}

.center {
	text-align: center;
}

.panel-default {
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}

.panel-default>.panel-heading {
	color: #fff;
	background-color: #be202e;
	border-color: #ddd;
	-webkit-border-top-left-radius: 12px;
	-webkit-border-top-right-radius: 12px;
	-moz-border-radius-topleft: 12px;
	-moz-border-radius-topright: 12px;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	border-bottom: 2px dotted #ddd;
}

.panel-body{
	text-align: center;
}

.btn-donate { 
	  color: #ffffff; 
		    background-color: #DC2E3C; 
				   border-color: #7A151D; 
} 
 
.btn-donate:hover, 
.btn-donate:focus, 
.btn-donate:active, 
.btn-donate.active, 
.open .dropdown-toggle.btn-donate { 
	  color: #ffffff; 
		    background-color: #BE202E; 
				   border-color: #7A151D; 
} 
 
.btn-donate:active, 
.btn-donate.active, 
.open .dropdown-toggle.btn-donate { 
	  background-image: none; 
} 
 
.btn-donate.disabled, 
.btn-donate[disabled], 
fieldset[disabled] .btn-donate, 
.btn-donate.disabled:hover, 
.btn-donate[disabled]:hover, 
fieldset[disabled] .btn-donate:hover, 
.btn-donate.disabled:focus, 
.btn-donate[disabled]:focus, 
fieldset[disabled] .btn-donate:focus, 
.btn-donate.disabled:active, 
.btn-donate[disabled]:active, 
fieldset[disabled] .btn-donate:active, 
.btn-donate.disabled.active, 
.btn-donate[disabled].active, 
fieldset[disabled] .btn-donate.active { 
	background-color: #b8362c; 
	border-color: #7A151D; 
} 
 
.btn-donate .badge { 
	color: #DC2E3C;
	background-color: #ffffff; 
}

footer {
	margin-top: 40px;
	padding-top: 80px;
	padding-bottom: 20px;
	text-align: center;
	color: #D6D6D6;
	font-size: 10px;
	min-height: 150px;
	background-color: #292929;
}
