[Unit]
Description=Nginx static site service
After=docker.service
After=reverse-proxy.service
Requires=docker.service
Requires=reverse-proxy.service

[Service]
Restart=always
ExecStartPre=-/usr/bin/docker kill fowlmouthwings.com
ExecStartPre=-/usr/bin/docker rm fowlmouthwings.com
ExecStartPre=-/usr/bin/docker rm -v fowlmouthwings-data
ExecStartPre=/usr/bin/docker pull tutum/nginx
ExecStartPre=/usr/bin/docker create -v /app -v /home/core/data/fowlmouthwings:/app --name fowlmouthwings-data tutum/nginx /bin/true
ExecStart=/usr/bin/docker run --rm -e VIRTUAL_HOST=fowlmouthwings.com,www.fowlmouthwings.com --volumes-from fowlmouthwings-data --name fowlmouthwings.com tutum/nginx
ExecStop=/usr/bin/docker stop fowlmouthwings.com
ExecStop=/usr/bin/docker rm -v fowlmouthwings-data
TimeoutStartSec=0
RestartSec=5s

[Install]
WantedBy=multi-user.target

[X-Fleet]
MachineMetadata=role=docker_host
